services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    tmpfs:
      - /var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  ms-tmdb:
    build:
      context: .
      dockerfile: apps/ms-tmdb/Dockerfile
    environment:
      PORT: 3333
      REDIS_HOST: redis
      REDIS_PORT: 6379
      TMDB_API_KEY: ${TMDB_API_KEY}
    ports:
      - "3333:3333"
    depends_on:
      - redis