name: Main workflow be-bg

permissions:
    contents: write

on:
  pull_request:
    branches:
       - main
    paths:
      - "apps/be-bg/*"

jobs:
    commit-lint:
        name: Verify conventional Commits
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Check Commit Messages
              uses: wagoid/commitlint-github-action@v6
              with:
                configFile: .commitlintrc.yml

    be_bg-linter-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"  
        - name: Install pnpm
          run: npm install -g pnpm  
        - name: Install dependencies
          run: pnpm install
          working-directory: ./apps/be-bg  
        - name: Lint
          run: pnpm run lint
          working-directory: ./apps/be-bg

    be_bg-build-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"
        - name: Install pnpm
          run: npm install -g pnpm
        - name: Install dependencies
          run: pnpm install --frozen-lockfile
          working-directory: ./apps/be-bg
        - name: Build
          run: pnpm run build
          working-directory: ./apps/be-bg   
        
    be_bg-jest-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      defaults:
        run:
          working-directory: ./apps/be-bg 
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4 
          with:
            node-version: "20"
        - name: Install pnpm
          run: npm install -g pnpm
        - name: Install dependencies
          run: pnpm install --frozen-lockfile
        - name: Run unit tests
          run: pnpm test

    build-and-push:
      runs-on: ubuntu-latest
      needs: [be_bg-build-test,be_bg-jest-test,be_bg-linter-test]
      permissions:
        contents: read
        packages: write
      steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4
  
      # Get the short commit hash
      - name: Get short commit hash
        id: vars
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
  
      # Log in to GitHub Docker Registry
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Read version from package.json
        id: pkg
        run: |
          VERSION=$(jq -r '.version' ./apps/be-bg/package.json)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Image version: $VERSION"

      # Build the Docker image
      - name: Build Docker image 
        run: |
          REPO_OWNER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME=$(echo "${GITHUB_REPOSITORY#*/}" | tr '[:upper:]' '[:lower:]')
          REF_NAME=$(echo "${GITHUB_REF_NAME}" | tr '[:upper:]' '[:lower:]')
  
          IMAGE_TAG="${REF_NAME}"
  
          docker build ./apps/be-bg \
              --file ./apps/be-bg/Dockerfile \
              --tag ghcr.io/${REPO_OWNER}/${REPO_NAME}/be-bg:${VERSION}
  
          docker tag ghcr.io/${REPO_OWNER}/${REPO_NAME}/be-bg:${VERSION} \
              ghcr.io/${REPO_OWNER}/${REPO_NAME}/be-bg:latest
  
      # Push the Docker image to GitHub Container Registry
      - name: Push Docker image
        run: |
          # Lowercase repository owner and name
          REPO_OWNER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME=$(echo "${GITHUB_REPOSITORY#*/}" | tr '[:upper:]' '[:lower:]')
  
          docker push ghcr.io/${REPO_OWNER}/${REPO_NAME}/be-bg:${VERSION}
          docker push ghcr.io/${REPO_OWNER}/${REPO_NAME}/be-bg:latest


        


