name: Develop workflow fe-admin

permissions:
    contents: write

on:
  pull_request:
    branches:
       - develop
    paths:
      - "apps/fe-admin/*"

jobs:
    commit-lint:
        name: Verify conventional Commits
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Check Commit Messages
              uses: wagoid/commitlint-github-action@v6
              with:
                configFile: .commitlintrc.yml

    linter-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"  
        - name: Install pnpm
          run: npm install -g pnpm  
        - name: Install dependencies
          run: pnpm install
          working-directory: ./apps/fe-admin
        - name: Lint
          run: pnpm run lint
          working-directory: ./apps/fe-admin

    build-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"
        - name: Install pnpm
          run: npm install -g pnpm
        - name: Install dependencies
          run: pnpm install --frozen-lockfile
          working-directory: ./apps/fe-admin
        - name: Build
          run: pnpm run build
          working-directory: ./apps/fe-admin
        


  


        


