name: Main workflow fe-admin

permissions:
    contents: write

on:
  pull_request:
    branches:
       - main
    paths:
      - "apps/fe-admin/**"

jobs:
    commit-lint:
        name: Verify conventional Commits
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Check Commit Messages
              uses: wagoid/commitlint-github-action@v6
              with:
                configFile: .commitlintrc.yml

    linter-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"  
        - name: Install pnpm
          run: npm install -g pnpm  
        - name: Install dependencies
          run: pnpm install
          working-directory: ./apps/fe-admin
        - name: Lint
          run: pnpm run lint
          working-directory: ./apps/fe-admin

    build-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"
        - name: Install pnpm
          run: npm install -g pnpm
        - name: Install dependencies
          run: pnpm install --frozen-lockfile
          working-directory: ./apps/fe-admin
        - name: Build
          run: pnpm run build
          working-directory: ./apps/fe-admin
        
    check_if_version_exists:
          runs-on: ubuntu-latest
          permissions:
            contents: read
            packages: write
          steps:
    
            - name: Checkout code
              uses: actions/checkout@v4
    
            - name: Read version from package.json
              id: pkg
              run: |
                VERSION=$(jq -r '.version' ./apps/fe-admin/package.json)
                echo "VERSION=$VERSION" >> $GITHUB_ENV
                echo "Image version: $VERSION"
    
            - name: Check if Docker image version exists
              id: check_version
              run: |
                IMAGE_NAME="ghcr.io/mehdilazaar/cinepotes/fe-admin"
                
                echo "Checking for ${IMAGE_NAME}:${VERSION}..."
                
                if docker manifest inspect ${IMAGE_NAME}:${VERSION} > /dev/null 2>&1; then
                  echo "exists=true" >> $GITHUB_OUTPUT
                  echo "❌ Image ${IMAGE_NAME}:${VERSION} already exists"
                  echo "Cancelling workflow as this version is already published"
                  exit 1
                else
                  echo "exists=false" >> $GITHUB_OUTPUT
                  echo "✅ Image ${IMAGE_NAME}:${VERSION} does not exist - new version!"
                fi
    
            - name: Continue with new version
              if: steps.check_version.outputs.exists == 'false'
              run: |
                echo "This is a new version, continuing workflow..."

    build-and-push:
      runs-on: ubuntu-latest
      needs: [build-test,linter-test,check_if_version_exists]
      permissions:
        contents: read
        packages: write
      steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4
  
      # Get the short commit hash
      - name: Get short commit hash
        id: vars
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
  
      # Log in to GitHub Docker Registry
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Read version from package.json
        id: pkg
        run: |
          VERSION=$(jq -r '.version' ./apps/fe-admin/package.json)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Image version: $VERSION"

      # Build the Docker image
      - name: Build Docker image
        run: |
          REPO_OWNER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME=$(echo "${GITHUB_REPOSITORY#*/}" | tr '[:upper:]' '[:lower:]')
          REF_NAME=$(echo "${GITHUB_REF_NAME}" | tr '[:upper:]' '[:lower:]')
  
          IMAGE_TAG="${REF_NAME}"
  
          docker build ./ \
              --file ./apps/fe-admin/Dockerfile \
              --tag ghcr.io/${REPO_OWNER}/${REPO_NAME}/fe-admin:${VERSION}
  
          docker tag ghcr.io/${REPO_OWNER}/${REPO_NAME}/fe-admin:${VERSION} \
              ghcr.io/${REPO_OWNER}/${REPO_NAME}/fe-admin:latest
  
      # Push the Docker image to GitHub Container Registry
      - name: Push Docker image
        run: |
          # Lowercase repository owner and name
          REPO_OWNER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME=$(echo "${GITHUB_REPOSITORY#*/}" | tr '[:upper:]' '[:lower:]')
  
          docker push ghcr.io/${REPO_OWNER}/${REPO_NAME}/fe-admin:${VERSION}
          docker push ghcr.io/${REPO_OWNER}/${REPO_NAME}/fe-admin:latest


        


