name: Main workflow fe-client

permissions:
    contents: write

on:
  pull_request:
    branches:
       - main
    paths:
      - "apps/fe-client/*"

jobs:
    commit-lint:
        name: Verify conventional Commits
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Check Commit Messages
              uses: wagoid/commitlint-github-action@v6
              with:
                configFile: .commitlintrc.yml

    linter-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"   
        - name: Install pnpm
          run: npm install -g pnpm  
        - name: Install dependencies
          run: pnpm install
          working-directory: ./apps/fe-client
        - name: Lint
          run: pnpm run lint
          working-directory: ./apps/fe-client

    build-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"
        - name: Install pnpm
          run: npm install -g pnpm
        - name: Install dependencies
          run: pnpm install --frozen-lockfile
          working-directory: ./apps/fe-client
        - name: Build
          run: pnpm run build
          working-directory: ./apps/fe-client
        
    check_if_version_exists:
          runs-on: ubuntu-latest
          permissions:
            contents: read
            packages: write
          steps:
    
            - name: Checkout code
              uses: actions/checkout@v4
    
            - name: Read version from package.json
              id: pkg
              run: |
                VERSION=$(jq -r '.version' ./apps/fe-client/package.json)
                echo "VERSION=$VERSION" >> $GITHUB_ENV
                echo "Image version: $VERSION"
    
            - name: Check if Docker image version exists
              id: check_version
              run: |
                IMAGE_NAME="ghcr.io/mehdilazaar/cinepotes/fe-client"
                
                echo "Checking for ${IMAGE_NAME}:${VERSION}..."
                
                if docker manifest inspect ${IMAGE_NAME}:${VERSION} > /dev/null 2>&1; then
                  echo "exists=true" >> $GITHUB_OUTPUT
                  echo "❌ Image ${IMAGE_NAME}:${VERSION} already exists"
                  echo "Cancelling workflow as this version is already published"
                  exit 1
                else
                  echo "exists=false" >> $GITHUB_OUTPUT
                  echo "✅ Image ${IMAGE_NAME}:${VERSION} does not exist - new version!"
                fi
        
            - name: Continue with new version
              if: steps.check_version.outputs.exists == 'false'
              run: |
                echo "This is a new version, continuing workflow..."

    build-and-push:
      runs-on: ubuntu-latest
      needs: [build-test,linter-test,check_if_version_exists]
      permissions:
        contents: read
        packages: write
      steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4
  
      # Get the short commit hash
      - name: Get short commit hash
        id: vars
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
  
      # Log in to GitHub Docker Registry
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Read version from package.json
        id: pkg
        run: |
          VERSION=$(jq -r '.version' ./apps/fe-client/package.json)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Image version: $VERSION"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      # Build the Docker image
      - name: Build and push Docker image
        run: |
          REPO_OWNER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME=$(echo "${GITHUB_REPOSITORY#*/}" | tr '[:upper:]' '[:lower:]')
          IMAGE_NAME="ghcr.io/${REPO_OWNER}/${REPO_NAME}/fe-client"
          VERSION=${VERSION}
      
          # Set up Buildx for multi-arch builds
          docker buildx create --use --name multiarch-builder
      
          # Build and push for both amd64 and arm64/v8
          docker buildx build ./ \
            --file ./apps/fe-client/Dockerfile \
            --platform linux/amd64,linux/arm64/v8 \
            --tag ${IMAGE_NAME}:${VERSION} \
            --tag ${IMAGE_NAME}:latest \
            --push
      