name: Develop workflow ms-tmdb

permissions:
    contents: write

on:
  pull_request:
    branches:
       - develop
    paths:
      - "apps/ms-tmdb/**"

jobs:
    commit-lint:
        name: Verify conventional Commits
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Check Commit Messages
              uses: wagoid/commitlint-github-action@v6
              with:
                configFile: .commitlintrc.yml

    ms_tmdb-linter-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"  
        - name: Install pnpm
          run: npm install -g pnpm  
        - name: Install dependencies
          run: pnpm install
          working-directory: ./apps/ms-tmdb  
        - name: Lint
          run: pnpm run lint
          working-directory: ./apps/ms-tmdb

    ms_tmdb-build-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: "20"
        - name: Install pnpm
          run: npm install -g pnpm
        - name: Install dependencies
          run: pnpm install --frozen-lockfile
          working-directory: ./apps/ms-tmdb
        - name: Build
          run: pnpm run build
          working-directory: ./apps/ms-tmdb   
        
    ms_tmdb-jest-test:
      runs-on: ubuntu-latest
      needs: commit-lint
      defaults:
        run:
          working-directory: ./apps/ms-tmdb 
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4 
          with:
            node-version: "20"
        - name: Install pnpm
          run: npm install -g pnpm
        - name: Install dependencies
          run: pnpm install --frozen-lockfile
        - name: Run unit tests
          run: pnpm test